#modal-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.1);
}

.modal {
    top: 40%;
    left: 25%;
    right: 25%;
    position: fixed;
    border-radius: 10px;
    padding: 1.5rem;
    width: auto;
    background-color: white;
}

.modal-fade-in {
    animation: modal-fade-in 0.3s ease-out forwards;
    z-index: 9;
}

.modal-fade-out {
    animation: modal-fade-out 0.3s ease-out forwards;
    z-index: -1;
}

@keyframes modal-fade-in {
    0% {
        transform: translateY(30px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes modal-fade-out {
    0% {
        transform: translateY(0);
        opacity: 1;
    }

    100% {
        transform: translateY(30px);
        opacity: 0;
    }
}
