@import "./button.css";

#menu-container {
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: space-between;
}

#menu-container.fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: linear-gradient(0.25turn, #208c27eb, #f7ad0deb);
    z-index: 10;
    box-shadow: 1px 1px 5px 0px #7b7b7b;
}

#menu-title-container {
    display: flex;
    align-items: center;
}

.fixed #menu-title-container {
    width: 100%;
    display: grid;
    grid-template-columns: max-content max-content 80%;
    justify-items: center;
}

#menu-title-container a {
    text-decoration: none;
}

#menu-title-container h1 {
    margin: 0;
    color: white;
    font-size: 1.8rem;
    transition: color 0.1s;
}

.fixed #menu-title-container h1 {
    font-size: 1.6rem;
}

#menu-title-container h1:hover {
    color: rgb(255, 200, 0);
}

#main-logo-container {
    position: relative;
    width: 100px;
    height: auto;
    margin-right: 1.5rem;
}

#menu-logo {
    border-radius: 15px;
    box-shadow: 1px 1px 5px 0px #636363;
}

.fixed #menu-logo {
    border-radius: 0;
    box-shadow: none;
}

#main-logo-link-container {
    position: relative;
    display: block;
    height: 6rem;
    width: 100%;
}

.fixed #main-logo-link-container {
    height: 5rem;
    width: 5rem;
}

menu {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
}

menu li {
    list-style: none;
    margin-left: 1rem;
}

menu li a {
    color: white;
    text-decoration: none;
    font-size: 1.6rem;
    font-weight: bold;
    padding: 2rem 2.5rem;
    display: block;
    width: 100%;
    text-align: center;
    transition: background-color 0.1s;
    border-radius: 15px;
}

.fixed menu li a {
    font-size: 1.4rem;
    padding: 1.5rem 3rem;
    border-radius: 0;
}

menu li a:hover,
menu li a.active {
    background-color: #ffffff3d;
}
