#menu-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    position: relative;
}

#main-logo-container {
    border-radius: 100px;
    position: relative;
    width: 100px;
    margin-right: 1rem;
}

#menu-logo {
    border-radius: 15px;
}

menu {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 0;
    padding: 0;
}
menu li {
    list-style: none;
    width: 13%;
}

menu li a {
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
    padding: 2rem 1rem;
    display: block;
    width: 100%;
    text-align: center;
    transition: background-color 0.1s;
    border-radius: 15px;
}

menu li a:hover {
    background-color: #ffffff3d;
}
