menu {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 0;
    padding: 0;
    /* background-color: #00000038; */
}
menu li {
    list-style: none;
    width: 13%;
}

menu li a {
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
    padding: 2rem 1rem;
    display: block;
    width: 100%;
    text-align: center;
    transition: background-color 0.1s;
}

menu li a:hover {
    background-color: #ffffff3d;
}
