.slideshow {
    position: relative;
    width: 40rem;
    height: 20rem;
    overflow: hidden;
    border-radius: 30px;
    box-shadow: 1px 1px 5px 0px #636363;
}

.slideshow img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transform: translateX(-1rem);
    transition: all 0.3s ease-in-out;
    border-radius: 30px;
    background-color: rgb(255, 200, 0);
}

.slideshow .active {
    z-index: 1;
    opacity: 1;
    transform: scale(1) translateX(0) rotate(0);
}
